<footer class="text-center text-lg-start text-white" style="background-color: #4723D9; margin-left: -32px;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section style="text-align:center;">
            <!--Grid rows-->
            <div class="row">

                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <a class="a" href="/footer">About</a>
                </div>

                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <a class="a"  href="/footer/services" > Services </a>
                </div>

                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <a class="a" href="/footer/privaci" > Privacy Policy </a>
                </div>

                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <a class="a" href="/footer/terms" > Terms &amp; Conditions </a>
                </div>

                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <a class="a" href="/footer/contact" > Contact </a>
                </div>
            </div>
        </section>
        <!-- Section: Links -->

        <!-- Section: CTA -->
        <hr class="mb-4" />

        <!-- Section: Social media -->
        <section class="mb-4 text-center">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fab fa-facebook-f"></i></a>
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fab fa-linkedin-in"></i></a>
            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" >
        © 2024 Your E-Library. All rights reserved.
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

<style>
    .a{
        color:white;
        
    }
    .a:hover{
        color: black;
    }
</style>