{% extends 'base.html.twig' %}
{% block body %}
    
<div>
    <h2>Services for E-Library</h2>
<p> 1. Online catalog and database access: Implementing a user-friendly online catalog system that allows users to
    easily search and access digital resources, including e-books, journals and articles.</p>

<p>2. Virtual reference services: Offering virtual assistance through chat, email to help users with inquiries,
    reference questions, and information needs.</p>

<p>3. E-book lending and digital resource access: Providing a platform for users to borrow and access e-books, digital
    publications, and other online resources for academic and research purposes.</p>

<p>4. Remote access and mobile compatibility: Ensuring that the e-library platform is accessible from any location and
    compatible with various devices, including smartphones and tablets, to accommodate users' diverse needs.</p>
</div>

{% endblock %}